/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --primary-color: #087f5b;
  --light-primary-color: #099268;
  --grey-color: #343a40;
  --light-grey-color: #868e96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: var(--grey-color);
  border-bottom: 8px solid var(--primary-color);
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 128px;
}

h2 {
  margin-bottom: 48px;
  font-size: 32px;
  letter-spacing: -0.5px;
  line-height: 1.1;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link,
.btn:visited {
  color: #fff;
  background-color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
}

.btn:hover,
.btn:active {
  color: #fff;
  background-color: var(--light-primary-color);
}

.btn--big {
  font-size: 16px;
  padding: 12px 16px;
}

.btn--small {
  font-size: 14px;
  padding: 6px 10px;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 48px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 36px;
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 1.1;
  font-weight: 800;
}

.header-text {
  margin-bottom: 36px;
  font-size: 16px;
  line-height: 1.6;
}

img {
  width: 100%;
  border-radius: 5px;
}

/* FEATURES */
.feature-icon {
  stroke: var(--primary-color);
  width: 30px;
  height: 30px;
  margin-bottom: 16px;
}

.features-title {
  margin-bottom: 10px;
}

.features-text {
  font-size: 16px;
  line-height: 1.6;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: var(--primary-color);
  padding: 24px;
  border-radius: 5px;
  color: #fff;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;

  font-size: 16px;
  line-height: 1.6;
}

.testimonial-author {
  font-style: italic;
  color: #e6fcf5;
  font-size: 12px;
}

/* CHAIRS */
.chair {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.chair img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.chair-box {
  padding: 24px;
}

h3 {
  margin-bottom: 30px;
  font-size: 20px;
}

.chair-details {
  list-style: none;
  margin-bottom: 30px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: var(--primary-color);
  width: 24px;
  height: 24px;
}

.chair-price strong {
  font-size: 20px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin-bottom: 48px;

  font-size: 12px;
  color: var(--light-grey-color);
}
